body{
    background: url('../images/login-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

div.loginheader{
    text-align: center;
    margin-bottom: 60px;
}

div.loginheader h1{
    font-size: 80px;
    color: #ffff;
    padding: 0px;
    margin: 0px;
}

div.loginheader h3 {
    font-size: 30px;
    color: #ffff;
    border-bottom: 5px solid #FFA500;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
}

div.loginbody form {
    margin: 0 auto;
    width: 450px;
    background: rgba(0,0,0,0.5);
    padding: 50px;
    border: 2px solid #FFA500;
    border-radius: 8px;
}

div.loginInputsContainer{
    margin-top: 20px;
}

div.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #FFFF;
}

div.loginInputsContainer input{
    height: 30px;
    width: 100%;
    border: 2px solid #FFA500;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

    div.loginButtonContainer{
        margin-top: 40px;
        text-align: center;
        border-radius: 8px;

    }

    div.loginButtonContainer button{
        font-size: 20px;
        padding: 10px 20px;
        background: #FFA500;
        border: 2px solid;
        color: #FFFF;
        border-radius: 10px;
    }